a:hover,
h6:hover {
  color: #c291e2;
  text-decoration: none;
}
a:link,
h6 {
  text-decoration: none;
  font-weight: bold;
  margin-top: 1%;
  padding-right: 4%;
  cursor: pointer;
}
a:visited,
h6 {
  color: green;
  padding-top: 1%;
  font-weight: bold;
}
